fail_fast: false

default_language_version:
  python: python3.10.6

repos:
  # Black
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black

  # Ruff
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.259"
    hooks:
      - id: ruff
