fail_fast: false

default_language_version:
  python: python3.11

repos:

  # Ruff
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.3.2"
    hooks:
      # Run the linter.
      - id: ruff
      # Run the formatter.
      - id: ruff-format
