fail_fast: false

default_language_version:
  python: python3.11

repos:
  # Black
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black

  # Ruff
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.1.14"
    hooks:
      - id: ruff
