version: '3.9'
services:
  db:
    image: postgres:18-alpine
    restart: always
    env_file: ".env"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      - POSTGRES_INITDB_ARGS=--locale=C --encoding=UTF8

  fastapi:
    container_name: fastapi
    build:
      context: ./backend
    restart: always
    env_file: ".env.docker"
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_started
    ports:
      - "8000:8000"
    working_dir: /app
    command: ["sh", "-c", "uv run alembic upgrade head && uv run uvicorn main:app --host 0.0.0.0 --port 8000"]
    volumes:
      - ./backend/app:/app/app

  vuejs:
    container_name: vuejs
    build:
      context: ./frontend
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app

  redis:
    image: redis:alpine
    restart: always
    env_file: ".env"
    ports:
      - "6379:6379"

  celery_worker:
    container_name: celery_worker
    build:
      context: ./backend
    restart: always
    env_file: ".env.docker"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    working_dir: /app
    command: ["uv", "run", "celery", "-A", "app.core.celery", "worker", "-l", "info"]

  celery_beat:
    container_name: celery_beat
    build:
      context: ./backend
    restart: always
    env_file: ".env.docker"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    working_dir: /app
    command: ["uv", "run", "celery", "-A", "app.core.celery", "beat", "-l", "info", "--scheduler", "sqlalchemy_celery_beat.schedulers:DatabaseScheduler"]

  flower:
    image: mher/flower:latest
    restart: always
    env_file: ".env"
    environment:
      - CELERY_BROKER_URL=${CELERY_BROKER_URL:-redis://redis:6379/0}
    ports:
      - "5555:5555"
    depends_on:
      - celery_worker

  minio:
    image: minio/minio
    container_name: minio
    env_file:
      - .env
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

  mailpit:
    image: axllent/mailpit:latest
    container_name: mailpit
    restart: always
    ports:
      - "1025:1025"  # SMTP server
      - "8025:8025"  # Web UI
    environment:
      MP_MAX_MESSAGES: 5000
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1

volumes:
  postgres-data:
  minio_data:
