version: '3.9'
services:
  db:
    image: postgres:latest
    restart: always
    env_file: ".env"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 10s
      timeout: 5s
      retries: 5

  fastapi:
    container_name: fastapi
    build:
      context: ./backend
    restart: always
    env_file: ".env"
    depends_on:
      - db
      - minio
    ports:
      - "8000:8000"
    command: "sh -c 'alembic upgrade head && uvicorn main:app --host 0.0.0.0 --port 8000'"
    volumes:
      - ./app:/code/app

  redis:
    image: redis:alpine
    restart: always
    env_file: ".env"
    expose:
      - 6379

  celery_worker:
    container_name: celery_worker
    build:
      context: ./backend
    restart: always
    env_file: ".env"
    depends_on:
      - db
      - redis
    command: "celery -A app.core.celery worker -l info"

  celery_beat:
    container_name: celery_beat
    build:
      context: ./backend
    restart: always
    env_file: ".env"
    depends_on:
      - db
      - redis
    command: "celery -A app.core.celery beat -l info"

  flower:
    image: mher/flower:latest
    restart: always
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
    ports:
      - "5555:5555"
    depends_on:
      - celery_worker

  minio:
    image: minio/minio
    container_name: minio
    env_file:
      - .env
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

volumes:
  postgres-data:
  minio_data:
