[project]
name = "fallout-shelter-fast-api-vue"
version = "0.1.0"
description = "Fallout Shelter FastAPI Game is a web-based simulation game where the player manages a vault full of dwellers, balancing their needs and resources to keep the vault thriving."
authors = [{ name = "ElderEvil", email = "lordofelderevil@gmail.com" }, ]
dependencies = [
    "alembic==1.13.2",
    "asyncpg==0.29.0",
    "celery==5.4.0",
    "email_validator==2.2.0",
    "faker==28.4.1",
    "fastapi==0.114.0",
    "logfire[fastapi,sqlalchemy,system-metrics]==0.52.0",
    "minio==7.2.8",
    "openai==1.44.0",
    "passlib[bcrypt]==1.7.4",
    "pillow==10.4.0",
    "psycopg==3.2.1",
    "pydantic-settings==2.4.0",
    "python-multipart==0.0.9",
    "python-jose[cryptography]==3.3.0",
    "redis==5.0.8",
    "sqladmin[full]==0.19.0",
    "sqlmodel==0.0.22",
    "uvicorn[standard]==0.30.6",
]
requires-python = ">= 3.12"

[project.optional-dependencies]
dev = [
    "pre-commit==3.8.0",
    "ruff==0.6.4",
    "aiosqlite==0.20.0",
    "factory-boy==3.3.1",
    "coverage==7.6.1",
    "pytest==8.3.2",
    "pytest-asyncio==0.24.0",
    "pytest-cov==5.0.0",
]

[build-system]
requires = ["setuptools >= 61.0"]
build-backend = "setuptools.build_meta"

[tool.ruff]
line-length = 120
target-version = "py312"
exclude = [".git", "__pycache__", ".pytest_cache", "alembic"]
lint.select = [
    "F", # pyflakes
    "E", # pycodestyle errors
    "W", # pycodestyle warnings
    "C90", # mccabe
    "I", # isort
    "N", # pep8-naming
    "UP", # pyupgrade
    "YTT", # flake8-2020
    "ASYNC", # flake8-async
    "S", # flake8-bandit security
    "BLE", # flake8-blind-except
    "FBT", # flake8-boolean-trap
    "B", # flake8-bugbear
    "A", # flake8-builtins
    "COM", # flake8-commas
    "C4", # flake8-comprehensions
    "DTZ", # flake8-datetimez
    "ISC", # flake8-implicit-str-concat
    "ICN", # flake8-import-conventions
    "LOG", # flake8-logging
    "G", # flake8-logging-format
    "INP", # flake8-no-pep420
    "PIE", # flake8-pie
    "PYI", # flake8-pyi
    "PT", # flake8-pytest-style
    "Q", # flake8-quotes
    "RSE", # flake8-raise
    "RET", # flake8-return
    "SIM", # flake8-simplify
    "TID", # flake8-tidy-imports
    "TCH", # flake8-type-checking
    "INT", # flake8-gettext
    "ARG", # flake8-arguments
    "PTH", # flake8-pathlib
    "PGH", # pygrep-hooks
    "PL", # Pylint
    "TRY", # tryceratops
    "RUF", # Ruff
    "FAST", # fastapi
]

lint.mccabe.max-complexity = 12

lint.ignore = [
    "COM812",
    "ISC001",
    "B008", # do not perform function calls in argument defaults
    "PTH123", # builtin-open
    "S101", # assert
    "S311", # pseudo-random
    "PLR2004",
    "PT023", # pytest-style
    "RUF012",
    "N805", # self
    "E712", # Avoid equality comparison
]

[tool.logfire]
pydantic_plugin_record = "failure"

[tool.ruff.lint.flake8-builtins]
builtins-ignorelist = ["id"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.mypy]
python_version = "3.12"
exclude = ["admin", "alembic", "tests", ".venv"]
disable_error_code = ["import-untyped"]
plugins = ["sqlalchemy.ext.mypy.plugin", "pydantic.mypy"]
