@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-terminal-green: #00ff00;
  --color-terminal-background: #000000;

  /* Custom font families */
  --font-family-mono: "Courier New", monospace;
}

body {
    background-color: var(--color-terminal-background);
    color: var(--color-terminal-green);
    font-family: var(--font-family-mono);
    text-shadow: 0 0 10px var(--color-terminal-green);
}

.scanlines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1) 1px,
            transparent 1px,
            transparent 2px
    );
    pointer-events: none;
    z-index: 10;
}
