@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000;
    color: #00ff00;
    font-family: 'Courier New', monospace;
    text-shadow: 0 0 10px #00ff00;
}

.scanlines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1) 1px,
            transparent 1px,
            transparent 2px
    );
    pointer-events: none;
    z-index: 10;
}
