aiosqlite==0.19.0
alembic==1.13.1
asyncpg==0.29.0
bcrypt==4.1.2
celery==5.3.6
cryptography==42.0.5
factory-boy==3.3.0
httptools==0.6.1
logfire==0.28.3
mypy-extensions==1.0.0
openai==1.21.1
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-instrumentation-sqlalchemy==0.45b0
passlib==1.7.4
pip-tools==7.4.1
psycopg2-binary==2.9.9
pydantic-settings==2.2.1
python-jose==3.3.0
redis==5.0.3
sqladmin==0.16.1
sqlmodel==0.0.16
watchfiles==0.21.0
websockets==12.0
