name: Backend CI

on:
  push:
    branches: [ master ]
    paths:
      - 'backend/**'

  pull_request:
    branches: [ master ]
    paths:
      - 'backend/**'

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: j178/prek-action@v1

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: cd backend && uv sync --locked --all-extras --dev

      - name: Run tests
        run: cd backend && uv run pytest tests
