name: Backend Deployment


jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v1
        with:
          version: "latest"

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push FastAPI image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/fastapi:latest

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Create .kube directory
        run: |
          mkdir -p $HOME/.kube

      - name: Configure kubectl
        run: |
          echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config
          chmod 600 $HOME/.kube/config

      - name: Deploy to K3s
        run: |
          # Apply Kubernetes configurations
          kubectl apply -f deployment/k3s/backend-deployment.yaml
          kubectl apply -f deployment/k3s/backend-service.yaml

          # Ensure the deployments are updated with the latest images
          kubectl set image deployment/backend backend=${{ secrets.DOCKER_USERNAME }}/fastapi:latest

          # Wait for rollouts to complete
          kubectl rollout status deployment/backend
