name: Backend CI/CD

on:
  push:
    branches:
      - master
    paths:
      - 'backend/**'
  pull_request:
    branches:
      - master
    paths:
      - 'backend/**'

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.12'

      - name: Install pre-commit
        run: |
          pip install pre-commit
          pre-commit install

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

  build-and-deploy:
    runs-on: ubuntu-latest
    needs: pre-commit

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Set up Python
        run: uv python install

      - name: Install the project
        run: uv sync --all-extras --dev
        working-directory: ./backend

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push FastAPI image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/fastapi:latest

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Create .kube directory
        run: |
          mkdir -p $HOME/.kube

      - name: Configure kubectl
        run: |
          echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config
          chmod 600 $HOME/.kube/config

      - name: Deploy to K3s
        env:
          MINIO_ACCESS_KEY: ${{ secrets.MINIO_ROOT_USER }}
          MINIO_SECRET_KEY: ${{ secrets.MINIO_ROOT_PASSWORD }}
        run: |
          # Create or update MinIO secret
          kubectl create secret generic minio-secret \
            --from-literal=MINIO_ROOT_USER=MINIO_ROOT_USER \
            --from-literal=MINIO_ROOT_PASSWORD=MINIO_ROOT_PASSWORD \
            --dry-run=client -o yaml | kubectl apply -f -

          # Apply Kubernetes configurations
          kubectl apply -f deployment/k3s/minio-deployment.yaml
          kubectl apply -f deployment/k3s/minio-service.yaml
          kubectl apply -f deployment/k3s/backend-deployment.yaml
          kubectl apply -f deployment/k3s/backend-service.yaml

          # Ensure the deployments are updated with the latest images
          kubectl set image deployment/backend backend=${{ secrets.DOCKER_USERNAME }}/fastapi:latest

          # Wait for rollouts to complete
          kubectl rollout status deployment/backend
