name: Backend CI

on:
  push:
    branches: [ master ]
    paths:
      - 'backend/**'

  pull_request:
    branches: [ master ]
    paths:
      - 'backend/**'

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: j178/prek-action@v1

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "backend/uv.lock"

      - name: Set up Python 3.14
        run: uv python install 3.14

      - name: Install the project
        run: cd backend && uv sync --locked --all-extras --dev

      #      - name: Type check with ty
      #        run: cd backend && uv run ty check app/

      - name: Run tests
        run: cd backend && uv run pytest app/tests
