name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push FastAPI image
        run: |
          docker build -t elerevil/fastapi:latest -f backend/Dockerfile ./backend
          docker push elerevil/fastapi:latest

      - name: Build and push Vue.js image
        run: |
          docker build -t elerevil/vuejs:latest -f frontend/Dockerfile ./frontend
          docker push elerevil/vuejs:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up kubectl
        uses: azure/setup-kubectl@v1
        with:
          version: 'latest'

      - name: Deploy to K3s
        run: |
          kubectl apply -f k8s/backend-deployment.yaml
          kubectl apply -f k8s/frontend-deployment.yaml
          kubectl apply -f k8s/minio-deployment.yaml
          kubectl apply -f k8s/caddy-deployment.yaml
