name: Frontend CI/CD

on:
  push:
    branches:
      - master
    paths:
      - 'frontend/**'
  pull_request:
    branches:
      - master
    paths:
      - 'frontend/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install dependencies
        run: cd ./frontend/ && pnpm install --frozen-lockfile

      - name: Run linter
        run: cd ./frontend/ && pnpm run lint

      - name: Run tests
        run: cd ./frontend/ && pnpm run test -- --run

      - name: Build the project
        run: cd ./frontend/ && pnpm run build

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Vue.js image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/vuejs:latest

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'latest'

      - name: Create .kube directory
        run: |
          mkdir -p $HOME/.kube

      - name: Configure kubectl
        run: |
          echo "${{ secrets.KUBE_CONFIG }}" > $HOME/.kube/config
          chmod 600 $HOME/.kube/config

      - name: Verify kubectl configuration
        run: kubectl config view

      - name: Deploy to K3s
        run: |
          # Apply Kubernetes configurations
          kubectl apply -f deployment/k3s/frontend-deployment.yaml
          kubectl apply -f deployment/k3s/frontend-service.yaml

          # Ensure the deployments are updated with the latest images
          kubectl set image deployment/frontend frontend=${{ secrets.DOCKER_USERNAME }}/vuejs:latest

          # Wait for rollouts to complete
          kubectl rollout status deployment/frontend
